@menu-color: #4ec9fb;
@menu-text-color:#ffffff;
@menu-height:90px;

.page-content {
    margin-top:@menu-height + 10px;
}
.header.mm-fixed-top {
    left: 0;
    position: fixed;
    top: 0;
}
.mm-slideout {
    transition: transform 0.4s ease 0s;
}
.header {
    background-color: @menu-color;
    box-sizing: border-box;
    color:@menu-text-color;
    font-size: 44px;
    height: @menu-height;
    line-height: @menu-height;
    padding: 0 50px;
    width: 100%;
    text-align: center;
    text-transform:uppercase;
}
.menu-icon {
    background: url("../img/menu-icon.png") no-repeat scroll center center transparent;
    display: block;
    height: 53px;
    width: 80px;
    left: 30px;
    top: 19px;
    position: absolute;
}
.add-icon {
    background: url("../img/app-icon.png") no-repeat scroll center center transparent;
    display: block;
    height: 67px;
    width: 67px;
    right: 30px;
    top: 12px;
    position: absolute;
}