<div page-title="New Task" class="new-task">
    <div class="row">
        <div class="col-xs-6">
            <label>Title</label>
        </div>
        <div class="col-xs-6 text-right">
            <input type="text" placeholder="Task Name" ng-model="task.name">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label>Task Type</label>
        </div>
        <div class="col-xs-6 text-right">
            <select ng-model="task.type">
                <option value="1">By Date</option>
                <option value="2">By Steps</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">Start Date</div>
        <div class="col-xs-6 text-right">
            <input type="text" pick-a-date="task.startDate" placeholder="Start Date" pick-a-date-options="datepickerOptions"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">Start Time</div>
        <div class="col-xs-6 text-right">
            <input type="text" pick-a-time="task.startTime" placeholder="Start Time"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">End Date</div>
        <div class="col-xs-6 text-right">
            <input type="text" pick-a-date="task.endDate" placeholder="End Date" pick-a-date-options="datepickerOptions"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">End Time</div>
        <div class="col-xs-6 text-right">
            <input type="text" pick-a-time="task.endTime" placeholder="End Time"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <label>Deadline Type</label>
        </div>
        <div class="col-xs-6 text-right">
            <select ng-model="task.deadlineType">
                <option value="1">Final Date</option>
                <option value="2">Flexible Date</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" type="button" ng-click="vm.save()">Create</button>
</div>
<div left-nav-button>
    <a href=""></a>
</div>