<div title="Tasks">
    <div ng-repeat="task in tasks" class="panel panel-default">
        <div class="panel-heading" ng-bid="task.name"></div>
        <div class="panel-body">
            <div class="col-xs-10">
                <div class="row">
                    4h 45m
                </div>
                <div class="row">
                    <span class="">Dec 01 5:00</span>
                </div>
            </div>
            <div class="col-xs-2">
                
            </div>
        </div>
    </div>
</div>
